/* ----- Fonts ----- */

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    src: local('OpenSans'),
        url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: local('OpenSans'),
        url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy'),
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy'),
        url('../fonts/gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
}

/* Colors

paragraphs text: #464646;
header background: #f7e296;

*/

/* ----- common styles ----- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: OpenSans, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.user-nav-link,
.crumbs-link,
.sort-link,
.pagination-link {
    color: inherit;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn-link {
    display: block;
    width: 220px;
    border: none;

    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    background-color: inherit;
    background-image: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}
/*изменилась группировка свойств. Насколько я помню вопрос заключался в принципе разбиения. Text-decoration и text-transform теперь в типографике*/

.btn-link:hover {
    background-color: #f0c52e;
}

.btn-link:active {
    opacity: 0.5;
}

.title {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
}

/* ----- header section styles ----- */
.main-header {
    position: relative;

    padding-top: 35px;
}

.main-header input[type="search"] {
    border: none;
    margin-top: 18px;

    background-color: inherit;
}

.main-header-logo {
    position: absolute;
    top: 20px;
    left: 80px;
}

.btn-search {
    display: none;
    width: 85px;
    border: 2px solid #000000;

    line-height: 45px;

    background-color: #f7e296;
}

.user-nav,
.main-nav {
    display: flex;
    padding: 0;
    list-style: none;
}

.main-nav {
    justify-content: space-between;
}

.main-nav li:nth-of-type(2) {
    flex-grow: 1;
    text-align: right;
    padding-right: 55px;
}

.main-nav li:nth-of-type(3) {
    margin-right: 120px;
}

.main-nav li:nth-of-type(4) {
    margin-right: 0;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.user-nav-item:nth-of-type(1) {
    margin-right: 220px;
}

.user-nav-item:nth-of-type(2) {
    margin-right: 60px;
}

.main-nav li {
    margin-right: 15px;
}


/* Переделал момент с .user-nav a */

.main-nav a {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    color: inherit;
    text-transform: uppercase;
}

.header-wrapper {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;

    border-top: 1px solid transparent;

    background-color: #f7e296;
}


.catalog-dropdown {
    position: absolute;
    top: 30px;
    left: -60px;

    display: none;
    width: 1160px;
    padding: 0;
    padding-left: 60px;

    list-style: none;
}

.dropdown-menu .dropdown-link {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
}

.dropdown-menu {
    position: relative;
}

.dropdown-menu:hover .catalog-dropdown {
    display: flex;
    flex-wrap: wrap;
    z-index: 500;

    padding-bottom: 67px;

    background-color: #f7e296;
}

.dropdown-menu .dropdown-item:nth-of-type(1) {
    flex-grow: 0;
    margin: 0;
    margin-right: 60px;
}

.dropdown-menu .dropdown-item:nth-of-type(2) {
    flex-grow: 0;
    margin: 0;
    margin-right: 75px;
}

.dropdown-menu .dropdown-item:nth-of-type(3) {
    flex-grow: 0;
    margin: 0;
    width: 45%;
}

.dropdown-menu .dropdown-item:nth-of-type(4) {
    flex-grow: 0;
    margin: 0;
    margin-right: 80px;
}

.dropdown-menu .dropdown-item:nth-of-type(5) {
    flex-grow: 0;
    margin: 0;
    width: 70%;
}

/* ----- slider styles section ----- */

.slider {
    position: relative;

    margin-top: 60px;
}

.slides {
    display: none;
    position: relative;
}

.slides::before {
    content: "";

    position: absolute;
    top: -61px;
    left: 0;

    width: 100%;
    height: 111px;

    background-color: #f7e296;
}

.slides.active {
    display: flex;
}

.slider-wrapper {
    position: relative;


    display: flex;
    flex-direction: column;

    padding: 20px 100px;
}

.slide-number {
    position: absolute;
    top: -70px;
    right: 60px;

    font-family: Gilroy, Arial, sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 179px;
    color: #ffffff;
}

.slider-image {
    position: relative;
    top: -80px;

    padding-left: 100px;
}

.slider h3 {
    margin: 0;

    line-height: 56px;
}

.slider td {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
}

.slider th {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.toggles {
    position: absolute;
    right: 120px;
    top: 49%;
}

.toggles label {
    display: none;
}
/* Понял косяк, slider a больше не дублирую.

/* ----- goods categories section styles ----- */
.categories {
    margin-bottom: 190px;
}

.goods-list {
    display: flex;
    justify-content: space-between;
    padding: 0;

    list-style: none;
}

.goods-link {
    display: inline-block;
    width: 160px;
    position: relative;

    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: inherit;
}

/*
.img-wrapper {
    position: relative;
    width: 160px;
    height: 160px;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

*/

.goods-link::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;

    background-color: #f0c52e;
    opacity: 0.5;
}

.goods-link::after {
    content: "";
    position: absolute;
    top: 0;

    display: block;
    width: 160px;
    height: 160px;

    background-repeat: no-repeat;
    background-position: center;
}

.virtual-reality::after {
    background-image: url("../img/popular-1.svg");
}

.monopods::after {
    background-image: url("../img/popular-2.svg");
}

.action-cameras::after {
    background-image: url("../img/popular-3.svg");
}

.fintess-bands::after {
    background-image: url("../img/popular-4.svg");
}

.smart-watches::after {
    background-image: url("../img/popular-5.svg");
}

.quadrocopters::after {
    background-image: url("../img/popular-6.svg");
}

.goods-link:hover::before {
    opacity: 1;
}

.goods-link:active {
    opacity: 0.5;
}

/* ----- info section styles -----*/

.info {
    margin-bottom: 90px;

    background-color: #e5e5e5;
}

.info-description-wrapper {
    position: relative;
}

.info-items {
    position: relative;
    top: -75px;

    display: none;
    padding-left: 120px;
}

.active-info {
    display: block;
}

.info-items p {
    width: 460px;
}

.info-wrapper {
    display: flex;
}

.info label {
    display: block;
    width: 160px;
    margin-bottom: 25px;

    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

    background-image: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);

    cursor: pointer;
}

.info label:hover {
    background-color: #f0c52e;
}

#delivery:checked ~ label[for="delivery"],
#warranty:checked ~ label[for="warranty"],
#credit:checked ~ label[for="credit"] {
    color: #f0c52e;

    background-color: #000000;
    background-image: none;
}

.info input {
    display: none;
}

.info h3 {
    line-height: 48px;
}

.info-selectors-wrapper {
    position: relative;
    top: -18px;

    padding-right: 120px;
}


/* ----- brands section styles ----- */
.brands {
    margin-bottom: 90px;
}

.brands .container {
    display: flex;
    justify-content: space-between;
}

.brands-link {
    position: relative;

    opacity: 0.2;
}

.brands-link:hover {
    opacity: 1;
}

.brands-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    width: 260px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.brands-link:hover::before {
    display: block;
}

.dji-link:hover::before {
    background-image: url("../img/logo-1.png");
}

.sp-gadgets-link:hover::before {
    background-image: url("../img/logo-2.png");
}

.gopro-link:hover::before {
    background-image: url("../img/logo-3.png");
}

.vive-link:hover::before {
    background-image: url("../img/logo-4.png");
}




/* ----- about us section styles ----- */

.about-us-contacts-wrapper{
    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;
}

.about-us h2 {
    line-height: 48px;
}


.about-us li {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;
}

/* ----- contacts section styles -----*/

.contacts h2 {
    line-height: 48px;
}

/* ----- footer section styles ----- */

.page-footer {
    background-color: #464646;
}

.page-footer .container {
    display: flex;
    justify-content: space-between;
}

.page-footer p {
    color: #ffffff;
}

.main-nav-footer a,
.user-nav-footer a {
    color: #ffffff;
}

.social {
    padding: 0;

    list-style: none;
}

.social a {
    color: #ffffff;
}

.phone {
    color: #ffffff;
}

/* ----- modal windows styles ----- */

.modal-write-us {
    width: 960px;
    margin: 0 auto;
}

.modal-container {
    width: 840px;
    margin: 0 auto;
    padding: 90px 40px 70px 40px;
}

.name-mail {
    display: flex;
    justify-content: space-between;
}

.modal-write-us label {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

/* ----- catalog page styles ----- */

.catalog-top {
    position: relative;

    margin-top: 10px;
    border: 1px solid transparent;
}

.catalog-top .title {
    padding-left: 60px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    padding-left: 60px;

    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    list-style: none;
}
/* убрал дублирование с breadcrumbs*/

.breadcrumbs li {
    margin-right: 40px;
}

.breadcrumbs-link {
    color: inherit;
}


/* ------ filter section styles ----- */

.filter {
    z-index: 150;

    padding-top: 10px;
    padding-right: 24px;
    margin-left: 0;
}

.filter-and-goods {
    position: relative;
    z-index: 150;

    background-image:
        linear-gradient(to right, #eeeeee calc((100% - 1200px + 2px)/2), transparent calc((100% - 1200px + 2px)/2)),
        linear-gradient(to bottom, #ebebeb 70px, transparent 70px);
}

.filter-and-goods .container {
    display: flex;
    justify-content: space-between;

    background-image: linear-gradient(to right, #eeeeee 350px, transparent 350px);
}

.filter h2 {
    margin-bottom: 100px;
    padding-left: 60px;

    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.filter legend {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

.filter label {
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
}

.filter-section {
    margin-bottom: 40px;
    padding: 0;
    padding-left: 60px;

    border: none;
}

.btn-filter {
    width: 200px;
    margin-left: 50px;
}

/* ----- sorting section styles ----- */

.goods-wrapper {
    padding: 0;
}

.goods-sort {
    padding: 0;
    margin: 0;

    list-style: none;
}

.sort-link {
    font-size: 14px;
    line-height: 18px;
}

.sort-wrapper {
    z-index: -10;

    display: flex;
    align-items: baseline;
    padding-left: 67px;
    padding-top: 20px;
    padding-bottom: 19px;
    margin-left: 55px;

    box-shadow: -600px 0 0 0 #dbdbdb;
}

.sort-header {
    margin-right: 50px;

    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.goods-sort {
    display: flex;
}

.goods-sort li {
    margin-right: 30px;
}

/* ----- catalog section styles ----- */

.list-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 122px;

    list-style: none;
}

.item {
    position: relative;
    margin-right: 0;
}


.item-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-title {
    width: 260px;
    margin: 0;
    padding: 0;
}

.item-link {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    color: inherit;
}

.price {
    margin: 0;
    padding: 0;

    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.compare-link {
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;

    color: inherit;
}

.item-image {
    position: relative;

    margin: 0;
    margin-top: 55px;
}

.item-hover {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 95%;
    display: none;

    text-align: center;

    background-color: rgba(238, 238, 238, 0.7);
}

.item:hover .item-hover {
    display: block;
}

.item-hover a {
    position: absolute;
}

.to-cart-link {
    top: 47%;
    left: 20%;

    letter-spacing: 2px;

    background-color: transparent;
}

.compare-link {
    top: 57%;
    left: 30%;
}



/* pagination section styles ----- */

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    margin-left: 122px;

    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;

    list-style: none;
    background-color: #ebebeb;
}

.pages-count {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    list-style: none;
}

.pages-count li {
    margin-right: 40px;
}
