/* ----- Fonts ----- */

@font-face {
    font-family: 'OpenSans Light';
    src: url('opensanslight.woff') format('woff'),
         url('OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans Regular';
    src: url('opensans.woff') format('woff'),
         url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('gilroylight.woff') format('woff'),
         url('Gilroylight.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('gilroyextrabold.woff') format('woff'),
         url('Gilroyextrabold.ttf') format('truetype');
}
